NEXT_PUBLIC_BASE_URL=https://meuapp.vercel.app
BETTER_AUTH_SECRET=<gerar-novo-secret>
BETTER_AUTH_URL=https://meuapp.vercel.app

DATABASE_URL="postgresql://usuario:senha@host:port/dbname?sslmode=require"

SMTP_USER=...
SMTP_PASS=...
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
FROM_EMAIL=...

ARCJET_KEY=ajkey_01k8rgsa7fejzbqq4x85j7e1yh

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=...
NEXT_PUBLIC_CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...
